#title {font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    text-align: center;
}
 
.wrapper {
  display: grid;
  /* grid-template-columns: repeat(3, 1fr); */
  grid-template-columns: 10fr 70fr 20fr; 
  column-gap: 50px;
  row-gap: 60px;
grid-auto-rows: minmax(0px, auto); 

}

.one {
  grid-column: 1 ;
  /* grid-row: 1; */
  text-align:right;
  

}
.two {
  grid-column: 2/3 ;
  /* grid-row: 1 / 3; */
 text-align: justify;

}
.three {
  grid-column: 3 ;
  /* grid-row: 2 / 3; */
}

.wrapper2 {
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-columns: 7fr 20fr 40fr; 
    column-gap: 50px;
    row-gap: 50px;
  grid-auto-rows: minmax(100px, auto); 
  
  }
  .four {
    grid-column: 2/3 ;
    /* grid-row: 2 / 3; */
  }


  .five {
    grid-column: 3/4 ;
    /* grid-row: 2 / 3; */
    text-align: left;
  }